<center style="Lucida Handwriting, cursive">
	<h1>About Us</h1>
	<h3>Commemorating your loved one.  Honoring their life.  Cherishing their memory</h3>
	<br />
	<p class="handwritten">In Lieu of Flowers was the vision of Kevin Schlack and founded by Tony Cox.  Frequently, the berieved families of individuals who have passed away will request donations made to their favorate charity <i>in lieu of flowers.</i> Tony felt there was a need to be able to track these donations to make sure they get into the intended hands and enable the intended "good." So he created In Lieu of Flowers to give the families of the honored, and those who wish to honor the memory of the deceased, this website to ensure the donations are going into the correct hands.  </p>
</center>
<br>
