<div class="row-fluid">
	<div class="mystyle span3">
		<%= link_to "Add another organization", 
			new_organization_path, class: 'btn btn-success' %>
		<%= link_to "Organization List", organizations_path , 
			class: 'btn btn-success' %>
	</div>
	<div class="mystyle span7">
		<h3>Organization Registered</h3>
		<p>
			Well proccess your organization soon. We will contact you once
			it has been approved and added to our list. Once your organization
			has been approved, we will help you complete your honored's registration.
		</p>
		<%= link_to "Back to dashboard", dashboard_path, 
			class: "btn btn-success btn-block" %>
	</div>
</div>