<div class="row-fluid">
	<div class="mystyle span8 offset2">
		<h1>Organizations Destroyed</h1>
		<p>Organization have been successfully destroyed.</p>
		<%= link_to "To Organizations", organizations_path, class: "btn btn-large brn-success" %>
		<%= link_to "To Dashboard", dashboard_path, class: "btn btn-large brn-success" %>
	</div>
</div>
