<footer class="text-center">
	<div>
		<p>
			Commemorating your loved ones! 
			Honoring their life! 
			Cherishing their memory!
		</p>
	</div>
	<div>
		<small>In Lieu Of Flowers</small>
</footer>